RewriteEngine On

# Rewrite rule for anime details
RewriteRule ^anime/([^/]+)$ animeDetails.php?url=$1 [L,QSA]

# Rewrite rule for watching episodes
RewriteRule ^watch/([^/]+)$ streaming.php?url=$1 [L,QSA]

# Rewrite rule for search
RewriteRule ^search/([^/]+)$ search.php?keyword=$1 [L,QSA]

# Rewrite rule for genres
RewriteRule ^genre/([^/]+)$ genre.php?genre=$1 [L,QSA]
